/* TODO Add site wide styles */

nav {
  background-color: rgba(117, 117, 117, 0.774);
  /* border: 1px solid black; */
  /* min-width: 200px; */
  padding: 10px;
  padding-top: 30px;
  width: 100%;
  height: 30px;
  display: flex;
  /* flex-wrap: nowrap; */
  text-align: center;
}
.page-container {
    width: 1244px;
}