.navbar-links {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    max-width: 1244px;
    padding:10px;
    color: #263238;
    background-color: white;
    border-radius: 5px;
}